        <div style="width: 100%">
            <div class="p-5 bg-light border rounded-3 marginTop20px marginLeft20px marginRight20px mb-3 jumbotron">
                <h2>Please wait while the application is loading</h2>
            </div>
        </div>