@using Blazor_8_Prerender.Client.Layout
@using Blazor_8_Prerender.Client.Components
<CascadingAuthenticationState>

    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
                    <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                        <Authorizing>
                            @* Content wenn erwünscht *@
                        </Authorizing>
                        <NotAuthorized>
                            <RedirectToLogin/>
                        </NotAuthorized>
                    </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Wo bin ich hier gelandet?</p>
                
                @* 
                    BUG mit Layout NotFound: https://github.com/dotnet/aspnetcore/issues/52660
                *@
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>